 
 <div class="hi">
    <div class="hello" *ngFor="let bank of banks">
        <label for="">{{bank.account_name}}</label><br>
        <label for="">{{bank.available_balance}}</label><br>
        <label for="">{{bank.account_number}}</label><br>
        <label for="">{{bank.id}}</label><br>
        <label for="">{{bank.sno}}</label><br>
        <label for="">{{bank.EmployeeId}}</label><br>
        <label for="">{{bank.EmployeeName}}</label><br>
        <label for="">{{bank.BillacilityStatus}}</label><br>
        <label for="">{{bank.Location}}</label><br>
        <label for="">{{bank.Band}}</label><br>
        <label for="">{{bank.Yrsofexp}}</label><br>
        <label for="">{{bank.RollOverdate}}</label><br>
        <label for="">{{bank.RollOverQuarter}}</label><br>
        <label for="">{{bank.PRP}}</label><br>
        <label for="">{{bank.Codility}}</label><br>
        <label for="">{{bank.ReadyforDeploymentskill}}</label>
        <label for="">{{bank.Profile}}</label>
        <label for="">{{bank.PropsedCustomer1}}</label>
        <label for="">{{bank.PropsedCustomer2}}</label>
        <label for="">{{bank.PropsedCustomer3}}</label>
        <label for="">{{bank.PropsedCustomer4}}</label>
        <label for="">{{bank.PropsedCustomer5}}</label>
        <label for="">{{bank.ReasonforRejection}}</label>
        

        

    </div>
 </div>
