.hello{
    width:100%;
    height: 100%;
    background-color:palevioletred;
    text-align: center;

}
.hello input{
    background-color:yellow;

}
.hello label{
    color: black;
}
.hello h1{
    margin: 0;
    text-align: center;
}